#dice {
    margin-top: 20%;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(109, 109, 145);
    border-radius: 2rem;
}
img{
    max-width: 100%;
    
}
#buttonzone-1{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 2rem;
    max-width: 330px;
    margin: auto;
    justify-content: space-around;
}
#buttonzone-2{
    display: flex;
    padding-bottom: 2rem;
    max-width: 330px;
    margin: auto;
    justify-content: space-around;
}
button{
    border: none;
    background-color: rgb(138, 138, 200);
    color: aliceblue;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}